@charset "UTF-8";
// import your files
:root {
	--animate-delay: 0.5s;
}

@import 'vendors/normalize';
@import 'base/variables';
@import 'base/reset';
@import 'base/typography';
@import 'base/mixins';

@import 'modules/header';
@import 'modules/footer';
@import 'modules/search';
@import 'layout/all';

@import 'sections/desktop-sub-menu';
@import 'sections/about-us';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Harmonia Sans Pro Cyr', sans-serif;
	font-weight: 400;
	font-style: normal;
	overflow-x: hidden;
	position: relative;
}

body:has(.header__nav-icon-toggle:checked) {
	overflow: hidden;
}
