<div>
  {% comment %}Content for header{% endcomment %}
</div>

{% schema %}
{
  "name": "t:sections.header.name",
  "tag": "header",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.paragraph"
    }
  ]
}
{% endschema %}
