@font-face {
	font-family: 'Harmonia Sans Pro Cyr';
	src: url("{{'HarmoniaSansProCyr-BoldCond.ttf' | asset_url }}");
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Harmonia Sans Pro Cyr';
	src: url("{{'HarmoniaSansProCyr-Regular.ttf' | asset_url }}");
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
}
